.paper {
    margin: 10px;
    padding: 10px;
}

.button, .formField {
    margin: 10px;
}

.contentColumn {
    display: inline-block;
    vertical-align:top;
}

.rowList {
    display: flex;
    flexDirection: row;
}

.rowList div {
    width: 100%;
}

.boldText {
    font-weight: bold;
}
